.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34c6eb;
    color: white;
    padding: 10px 40px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    font-family: none;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease, transform 0.5s ease;
    display: inline-block;
}

.nav-links a:hover {
    text-decoration: none;
    color: #333;
    transform: translateX(-5px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

body {
    margin: 8px 8px 8px 8px;
}

footer {
    text-align: center;
    background-color: #34c6eb;
    color: white;
    padding: 15px;
    margin-top: 40px;
}

footer p {
    margin-top: 16px;
    margin-bottom: 16px;
}