.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34c6eb;
    color: white;
    padding: 10px 40px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: color 0.5s ease, transform 0.5s ease;
    display: inline-block;
}

.this a {
    color: #f0f714;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: color 0.5s ease, transform 0.5s ease;
    display: inline-block;
    text-shadow: 5px 5px 8px #c2b71b;
}

.nav-links a:hover {
    text-decoration: none;
    color: #333;
    transform: translateX(-5px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 55px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 105px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-left: 105px;
}

.contact-item span.icon {
    font-size: 24px;
    margin-right: 10px;
    line-height: 1;
}

.contact-item a {
    color: black;
    text-decoration: underline;
}

.contact-item a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.note {
    font-size: 14px;
    color: #555;
    margin-left: 34px;
}

.contact-container {
    max-width: 450px;
    margin: 20px 0 0 95px;
    /* centers the section */
    text-align: center;
    padding: 25px;
    /* space inside the border */
    border: 2px solid #ccc;
    /* border thickness & color */
    border-radius: 12px;
    /* rounded corners */
    background-color: #f9f9f9;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    /* one column */
    gap: 15px;
    /* space between elements */
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.contact-form textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #34c6eb;
}

.contact-form button {
    padding: 12px;
    background-color: #34c6eb;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #28a8ca;
}